body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}

/* Centering form content */
form {
  max-width: 600px; /* Adjust based on your preference */
  margin: auto;
}

.form-group, .flex-container {
  margin-bottom: 15px;
}

input[type="text"], input[type="number"], select, button {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box; /* Ensures padding doesn't add to the width */
}

#genderSpecify, #ethnicitySpecify, #languageSpecify {
  display: none;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch; /* This will make the items stretch to fill the container */
}

.option {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Adjust content spacing inside the box */
  flex-basis: 48%;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  height: 100%;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}